#nav{
  background-color: #0b0c10;
  padding-right: 0px;
}
#name{
  float: left;
}
#jumbo{
  height: 500px;
  background: url(images/Mountain2.jpg) fixed;
  color: white;
  margin-bottom: 0%;
}
.display-4{
  font-size: 100px;
  color: #e62101;
}
#jumbotext{
  font-size: 25px;
}
#sectionstart{
  background-color: #0b0c10;
  color: white;
  height: 100px;
  padding-top: 20px;
}
#cards1{
  background-color: #0b0c10;
  padding-right: 2%;
  padding-left: 2%;
  margin: 0%;
}
#aboutme{
  background-color: #404249;
  color: white;
  font-size: 20px;
}
#about{
  color: #e62101;
  font-size: 60px;
}
#frontback{
  color: #e62101;
}
#footer{
  background-color: #0b0c10;
  color: white;
  padding-top: 100px;
}
#contact{
  color: #e62101;
  font-size: 40px;
}
 

  